body


.logo{ 
	width: 88p                      
	display:inline-block; 
	margin-right:50px;
	vertical-align: top;


}
.active{
	color: red;
}
.nav{
	display: inline-block;
}
.nav-li{
	display: inline-block;
	margin-right:21px
}
  /*end header*/

  /*banner section*/

  /*end banner section*/











.blue-box{
	background: blue;	
	font-size: 56px;
	display: inline-block;
	margin-top: 40px;
   
}
.image{
	display: inline-block;
    margin-right:39px;
    vertical-align: top;
}
.article-p{
	display: inline-block;
	width:929px;
 }
 .article-box{
 	margin-top:20px;
 }
 .nav-a{
 	margin-right: 25px;
 }
 .mobile{
 	color: #808080;
 	font-size: 16px;
 }
 .text{
 	text-align: center;
 }
 .nav-li{
 	display: inline-block;
 	margin-right: 21px;
 }
 .image2{
 	display: inline-block;
 	width: 600px;
 }
 .active1{
 	color: red;
 }
.nav-li1{
	color: red;
}
.date{
	font-size: 22px;
	color: #3D58A6;
}


/*base classes*/
.container{
	width:1170px;
	margin:20px auto;
}
.container-contact{
	width: 1178px;
	margin:0 auto;
}
.display-inline-block{
	display: inline-block;
}
/*end base classes*/

/*header*/
.logo{
	width:100px;
	margin-right:50px;
	vertical-align: middle;
}
.active{
	color:red;
}
.nav-li{
	margin-right: 21px;
}
.nav{
	vertical-align: middle;
}
.nav-a{
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	font-size: 22px;
}
/*end header*/

/*banner section*/
.test{
	 font-family: 'BPG Nino Mtavruli Bold';
}
/*end  banner section*/

/*featured-section*/
.article-box{
	width: 282px;
	background: #F2F2F2;
	padding:15px 18px 40px 15px;
}
.article-box-margin{
	margin-right:30px;
}
.image-article{
	height: 130px;
	vertical-align: top;
	margin-right:30px;
}
.article-wraper{
	margin-top:20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-style: italic;
}
.article-p{
	width: 929px;
	font-size: 20px;
	line-height: 28px;
}
.article-box .article-title{
	margin-bottom: 18px;
}
.wraper-title{
	text-transform: uppercase;
}
.wraper-title a{
	text-transform: lowercase;
}
/*end featured section*/

/*contact page*/
 .contact-section{
 	background-color: #E6E6E6;
 	padding: 40px 0 55px 0;
 	margin-top:30px;
 }
 .contact-span{
 	font-size: 16px;
 	color: #808080;
 	font-family: 'Roboto', sans-serif;
 }
 .contact-title{
 	color: #3D58A6;
 	font-size: 20px;
 	 font-family: 'BPG Nino Mtavruli Bold';
 }
 .left-block{
 	vertical-align: top;
 	margin-right:35px;
 }
 .right-block{
 	vertical-align: top;
 	width: 875px;
 	height: 466px;
 }
 .right-block iframe{
 	width: 100%;
 	height: 100%;
 }
/*end contact page