body


.logo{ 
	width: 88p                      
	display:inline-block; 
	margin-right:50px;
	vertical-align: top;


}
.active{
	color: red;
}
.nav{
	display: inline-block;
}
.nav-li{
	display: inline-block;
	margin-right:21px
}
  /*end header*/

  /*banner section*/

  /*end banner section*/











.blue-box{
	background: blue;	
	font-size: 56px;
	display: inline-block;
	margin-top: 40px;
   
}
.image{
	display: inline-block;
    margin-right:39px;
    vertical-align: top;
}
.article-p{
	display: inline-block;
	width:929px;
 }
 .article-box{
 	margin-top:20px;
 }
 .nav-a{
 	margin-right: 25px;
 }
 .mobile{
 	color: #808080;
 	font-size: 16px;
 }
 .text{
 	text-align: center;
 }
 .nav-li{
 	display: inline-block;
 	margin-right: 21px;
 }
 .image2{
 	display: inline-block;
 	width: 600px;
 }
 .active1{
 	color: red;
 }
.nav-li1{
	color: red;
}
.date{
	font-size: 22px;
	color: #3D58A6;
}
